MycloudStoreApp1/WindowsFormClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertInFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:insertInFiles" />
  </wsdl:message>
  <wsdl:message name="IService1_insertInFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertInFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserFiles" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserFile_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserFile" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileText" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFileText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileTextResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMethod" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckUser" message="tns:IService1_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckUserResponse" message="tns:IService1_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetIdUser" message="tns:IService1_GetIdUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetIdUserResponse" message="tns:IService1_GetIdUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertInFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertInFiles" message="tns:IService1_insertInFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertInFilesResponse" message="tns:IService1_insertInFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserFiles" message="tns:IService1_getUserFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserFilesResponse" message="tns:IService1_getUserFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserFile" message="tns:IService1_getUserFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserFileResponse" message="tns:IService1_getUserFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileText">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFileText" message="tns:IService1_GetFileText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFileTextResponse" message="tns:IService1_GetFileText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMethod" message="tns:IService1_GetMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMethodResponse" message="tns:IService1_GetMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetIdUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertInFiles">
      <soap:operation soapAction="http://tempuri.org/IService1/insertInFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFiles">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFile">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileText">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFileText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMethod">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MycloudStoreApp1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>